<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.stc.radio.player">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:name=".RadioApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!--
        android:allowBackup="true"
        android:fullBackupContent="true"
        -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="radio.db"/>
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1"/>
        <meta-data
            android:name="AA_MODELS"
            android:value="com.stc.radio.player.db.Station, com.stc.radio.player.db.Playlist, com.stc.radio.player.db.RadioSettings, com.stc.radio.player.db.NowPlaying"/>

        <service
            android:name=".ServiceRadioRx"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.stc.radio.player.INTENT_RESET"/>
                <action android:name="com.stc.radio.player.INTENT_SLEEP_SET"/>
                <action android:name="com.stc.radio.player.INTENT_SLEEP_CANCEL"/>
                <action android:name="com.stc.radio.player.INTENT_SET_BUFFER_SIZE"/>

            </intent-filter>
        </service>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.stc.radio.player.INTENT_USER_ACTION"/>
                <action android:name="com.stc.radio.player.INTENT_OPEN_APP"/>
                <action android:name="com.stc.radio.player.INTENT_CLOSE_APP"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".MediaButtonsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ServiceRadioRx$HeadsetPlugReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.HEADSET_PLUG"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>