<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.murano500k.newradio">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".ServiceRadio"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.murano500k.INTENT_SET_BUFFER_SIZE"/>
                <action android:name="com.android.murano500k.INTENT_PLAY_PAUSE"/>
                <action android:name="com.android.murano500k.INTENT_RESUME_PLAYBACK"/>
                <action android:name="com.android.murano500k.INTENT_PAUSE_PLAYBACK"/>
                <action android:name="com.android.murano500k.INTENT_PLAY_NEXT"/>
                <action android:name="com.android.murano500k.INTENT_PLAY_RANDOM"/>
                <action android:name="com.android.murano500k.INTENT_PLAY_PREV"/>
                <action android:name="com.android.murano500k.INTENT_UPDATE_PLAYLIST"/>
                <action android:name="com.android.murano500k.INTENT_SLEEP_TIMER_SET"/>
                <action android:name="com.android.murano500k.INTENT_SLEEP_TIMER_CANCEL"/>
                <action android:name="com.android.murano500k.INTENT_CLOSE_NOTIFICATION"/>
                <action android:name="com.android.murano500k.INTENT_MEDIA_BUTTON"/>
            </intent-filter>
        </service>

        <activity
            android:name=".ActivityRadio"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.android.murano500k.INTENT_OPEN_APP"/>
                <action android:name="com.android.murano500k.INTENT_CLOSE_NOTIFICATION"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityTemp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <receiver
            android:name=".MediaButtonsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ServiceRadio$Initiator$HeadsetPlugReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.HEADSET_PLUG"/>
            </intent-filter>
        </receiver>

        <activity android:name=".ActivityCreateStation">
        </activity>


        <service
            android:name=".ServiceRadioRx"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>